@{
    ViewData["Title"] = (Model.Id == null ? "Create Project" : "Save Project") + " - The Platform Thing";
}
@model Dashboard.Net.Models.ProjectViewModel
@using Dashboard.Net.Classes;
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            @using (Html.BeginForm((Model.Id == null ? "Create" : "Edit"), null, FormMethod.Post, new { autocomplete = "off" }))
            {
                @Html.CustomValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => Model.Id)

                <h1 class="heading-large">
                    @(Model.Id == null ? "Creating Project {Model.Name}..." : $"Saving Project {Model.Name}...")
                </h1>
                <h2 class="heading-medium">Project Details</h2>
                if (Model.Id == null)
                {
                    <p>Your project is being created in the background. Team members will receive a welcome email when complete.</p>
                }
                else
                {
                    <p>Your changes are being saved in the background.</p>
                }

                <h2 class="heading-medium">Steps</h2>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create a dedicated team project on Visual Studio Team Services (VSTS)<br />
                    for source control, Agile backlogs, and Continuous Integration.
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Add team members to VSTS team project
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create private Git repository on VSTS for source control
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Copy source code of sample application to private Git repository
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create a dedicated Resource Group for this project on Azure
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create a dedicated shared storage in the Azure Resource Group
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create a dedicated shared cache in the Azure Resource Group
                </div>

                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Add an SQL Server with strong credentials to the Azure Resource Group 
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Allow the sample application through the firewall of the SQL Server
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create an empty database on SQL Server for containing sample schema and data
                </div>

                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create dedicated private key vault on Azure for storing project secrets
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Add connection secrets for sample database to Azure Key Vault
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create an service principle for access to Azure resources
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Add permission for the sample application to access the Azure Key Vault
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create the development, test and production environments on OpenShift<br />
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Passing the secrets for Azure Key Vault, Database, Storage and cache access to OpenShift environments.
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Create a build definition for deploying the sample application to the OpenShift environment
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Build the sample application from the local Git repository
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Deploy the sample application to the OpenShift environment
                </div>
                <div>
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    Send welcome email to all team members containing quickstart links and details
                </div>

          <fieldset>
                    <div class="form-group">
                        <br>
                        <a href="@Url.Action("Index")" class="button">Continue</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</main>
